<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criação de Conta</title>
</head>
<body>

<form action="criarConta" method="post">
    <h2 style="position: absolute;top: 40%;left: 45%;font-family: Verdana,serif">Crie sua conta!</h2>
    <div style="position: absolute;top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);">
    <label>Login</label>
    <input name="login">
    <br>
    <label>Senha</label>
    <input name="senha" type="password">
        <input type="submit" value="Criar" style="position: relative;left: 15%;width:67%;height: 100%">
    </div>

</form>
<div th:if="${erroCriacao}" style="line-break: strict; position: absolute;top: 55%;left: 42%;color: red;background-color: aliceblue">
    <div th:text="${erroCriacao}"></div>
</div>
</body>
</html>